// Primary
.wrap-notif {
  &.primary {
    .wrap-ico {
      .wrap-badge {
        background-color: $primary;
      }
    }

    .wrap-dropdown {
      .header {
        .ico-header {
          &.bell {
            color: $primary;
          }
        }
      }

      .footer {
        a {
          color: $primary;
        }
      }
    }

    .list {
      a {
        &:hover {
          background-color: rgba($color: $primary, $alpha: 0.05);
        }
      }

      .item {
        &.unread {
          &::before {
            background: $primary;
          }
        }
      }
    }
  }
}

// Success
.wrap-notif {
  &.success {
    .wrap-ico {
      .wrap-badge {
        background-color: $success;
      }
    }

    .wrap-dropdown {
      .header {
        .ico-header {
          &.bell {
            color: $success;
          }
        }
      }

      .footer {
        a {
          color: $success;
        }
      }
    }

    .list {
      a {
        &:hover {
          background-color: rgba($color: $success, $alpha: 0.05);
        }
      }

      .item {
        &.unread {
          &::before {
            background: $success;
          }
        }
      }
    }
  }
}

// Warning
.wrap-notif {
  &.warning {
    .wrap-ico {
      .wrap-badge {
        background-color: $warning;
      }
    }

    .wrap-dropdown {
      .header {
        .ico-header {
          &.bell {
            color: $warning;
          }
        }
      }

      .footer {
        a {
          color: $warning;
        }
      }
    }

    .list {
      a {
        &:hover {
          background-color: rgba($color: $warning, $alpha: 0.05);
        }
      }

      .item {
        &.unread {
          &::before {
            background: $warning;
          }
        }
      }
    }
  }
}

// Danger
.wrap-notif {
  &.danger {
    .wrap-ico {
      .wrap-badge {
        background-color: $danger;
      }
    }

    .wrap-dropdown {
      .header {
        .ico-header {
          &.bell {
            color: $danger;
          }
        }
      }

      .footer {
        a {
          color: $danger;
        }
      }
    }

    .list {
      a {
        &:hover {
          background-color: rgba($color: $danger, $alpha: 0.05);
        }
      }

      .item {
        &.unread {
          &::before {
            background: $danger;
          }
        }
      }
    }
  }
}

.wrap-notif {
  &.dark {
    .wrap-dropdown {
      .list-box {
        color: $white;
        background-color: $black;
        box-shadow: 0px 0px 10px 2px $grey;

        .header {
          border-bottom: 1px solid $dark-grey;
        }

        .footer {
          border-top: 1px solid $dark-grey;
        }

        &::before {
          background-color: $black;
          box-shadow: 0px 0px 10px 2px $grey;
        }

        &::after {
          background-color: $black;
        }
      }
    }

    .list {
      a {
        border-bottom: 1px solid $dark-grey;
      }

      .item {
        .content {
          color: $white;
        }
      }
    }
  }
}